<%- include('./partials/header'); %>
<div class="dashboard">
    <div class="icon">
        <i class='bx bxl-xing'></i>
        <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>Dashboard</h2>
                <p>Home / About us</p>
                </div>
                <div class="hp-2">
                    <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
                </div>
                    <div class="policy">
                        <h1>This is About us page</h1>
                    </div>

               
            </div>    
           
<%- include('./partials/footer'); %>
