<%- include('./partials/header'); %>

<div class="dashboard">
    <div class="icon">
        <i class='bx bxl-xing'></i>
        <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>Dashboard</h2>
                <p>Home / Dashboard</p>
                </div>
                <div class="hp-2">
                    <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
                </div>
               
            </div>    
           
        </div>
        <div class="boxes">
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 50px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">1</h5>
                    <p>total Admin</p>
                </div>
                
            </div>
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 50px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">10</h5>
                    <p>total Coustomer</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 50px;"; class='bx bxs-edit-alt'></i></div>
                <div>
                    <h5 style="text-align: center;">9</h5>
                    <p style="font-size: 24px; font-weight: 400;">Blog</p>
                </div>        
            </div>
            <div class="box">
                <div style="padding-right:10px;"><i class='bx bx-notepad' style="font-size: 50px;"></i></div>
                <div>
                    <h5 style="text-align: center;">50</h5>
                    <p style="font-size: 24px; font-weight: 400;">total product</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i class='bx bx-objects-horizontal-right' style="font-size:50px;"></i></div>
                <div>
                    <h5 style="text-align: center;">500</h5>
                    <p style="font-size: 20px; font-weight: 400;">complete sale</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i class='bx bx-bowling-ball' style="font-size: 40px;"></i></div>
                <div>
                    <h5 style="text-align: center;">50</h5>
                    <p style="font-size: 20px; font-weight: 400;">Pending sales</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i class='bx bxs-coin-stack' style="font-size: 40px;"></i></div>
                <div>
                    <h5 style="text-align: center;">1000</h5>
                    <p style="font-size: 20px; font-weight: 400;">Sold Items</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i class='bx bxs-component' style="font-size: 40px;"></i></div>
                <div>
                    <h5 style="text-align: center;">2</h5>
                    <p style="font-size: 20px; font-weight: 300; margin-left: 25px;">ongoing complain </p>
                </div>        
            </div>
    </div>

            <div class="col">
                <div class="left-earned">
                    <div class="month">
                        <h2>Earned Per Month In 2022</h2>
                    </div>
                    <div class="day">
                        <h2>Product Order in Last 30 days</h2>
                    </div>
                </div>
                <div class="right-earned">
                    <div class="month">
                        <h2>Earned Per Month In 30 days</h2>
                    </div>
                    <div class="day">
                        <h2>Product sold in Last 30 days</h2>
                    </div>
                </div>
            </div>
    </div>
    

<%- include('./partials/footer'); %>
