<%- include('./partials/header'); %>
<div class="dashboard">
    <div class="icon">
        <i class='bx bxl-xing'></i>
        <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
        </div>
        <div class="dash">
            <div class="home">
                <h2>Dashboard</h2>
                <p>Home / privacy</p>
            </div>    
            <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
        </div>
        <div class="privacy">Here you add privacy</div>
<%- include('./partials/footer'); %>
